 *{
  box-sizing: border-box;
    
  }
 html{
  box-sizing: border-box;
 }
  body{
      margin: 0;
      background-color:rgba(12, 12, 12, 0.9);
      min-height: 100vh;
  }

  header{
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  aside{
    font-size: 22px;
  }

  footer{
    font-size: 22px;
    margin-top: auto;
    background-color: rgb(0, 107, 48);
    text-align: center;
    position: fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
  }

  nav{
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    background-color: rgb(0, 107, 48);
    
  }

  nav a{
      text-decoration: none;
      color: wheat;
      padding: 20px; 
  }

  main{
    /* max-width: 50%; */
    align-items: center;
    margin: 0 auto;
    
  }

  section{
    font-size: 22px;
    flex: 1;
    background-image: url("https://testiranje.rs/wp-content/uploads/2020/11/QA_Smiley_By_Mrg.png");
    background-position: center;
    background-size: 700px 400px;
    margin: 30px 25%;
  }

  /*Klase*/
  .flex-container{
      background-color: transparent;
      color: wheat;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .logo{
    width: 100px;
    height: 100px;
    background-color: transparent;
    margin: 10px;
  }
  img{
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  .bgimage{
    background-image: url("https://testiranje.rs/wp-content/uploads/2020/11/QA_Smiley_By_Mrg.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: wheat;
    font-size: 30px;
    text-align: center;
  }
  .white-filter{
    background-color: rgba(168, 164, 164, 0.2);
    min-width: 100%
  }
  @media screen and (max-device-width: 380px) {
    nav {
      font-size: 15px;
      height: 20px;
       
    }
    nav a{
      text-decoration: none;
      color: wheat;
      padding: 2px; 
    }
  section{
    font-size: 15px;
    margin: 30px 5%;
    }
  .bgimage{
    background-size: cover;
    min-width: 100vw;
    }
  .logo{
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin: 10px;
    }
  }
  
  